@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
  font-size: 15px;
}
body {
  font-family: "Roboto", "sans-serif";
  background-color: #f5f5f5;
}
.avatar-mini {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
  object-position: center;
}

.card-body:hover {
  background-color: #00000027;
  cursor: pointer;
}

.card-body h6 {
  color: #ffffff;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.bg-hide {
  background-color: #00000027;
}
.btn-primary {
  background-color: #5E9DFA !important;
  border-color: #5E9DFA !important;
}

.btn-warning {
  background-color: #FCD35A !important;
  border-color: #FCD35A !important;
}

.btn-success {
  background-color: #66AD8C !important;
  border-color: #66AD8C !important;
}
.btn-danger {
  background-color: #E57882 !important;
  border-color: #E57882 !important;
}
.btn-dark {
  background-color: #6B6E70 !important;
  border-color: #6B6E70 !important;
}
