.img-avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.img-banner {
    object-fit: cover;
    object-position: 50% 50%;
    height: 250px;
}

.btn-avatar {
    position: absolute;
    right: 30%;
    top: 80%;
}

.btn-outline-success.btn-banner {
    background-color: transparent !important;
    color: white !important;
}

.btn-outline-success.btn-banner:hover {
    background-color: #19a463 !important;
    border-color: #19a463 !important;
    color: white !important;
}